.navb{
    /* background-color:rgb(47, 147, 147); */
    /* background: linear-gradient(to right, rgb(30, 87, 87), #efeded,rgb(30, 87, 87)); */
    height: 70px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    gap: 40px;
    color: white;
    text-decoration: none;
  
  
}
.link{
    text-decoration: none;
    color: black;
    /* color:rgb(30, 87, 87); */
    /* font-weight: 1000px; */
    font-size: 18px;
    padding: 10px;
 
    /* color:  rgb(30, 87, 87); */
   
}
