.items{
/* align-content: center; */
align-items: center;
}
.row {
  
      margin-bottom: 30px;
  }
  /* .container1{
    max-width: 700px;
  } */
  input {

    box-sizing: border-box;
  }
  button {
    background-color:rgb(27, 189, 189);
    color: white;
    padding: 10px 20px;
    border: none;
  
  }
  button:hover {
    background-color: #a3aca3;
  }