.items{
/* align-content: center; */
align-items: center;
margin-top: 80px;
}
.row {
  
      margin-bottom: 30px;
  }
  /* .container1{
    max-width: 700px;
  } */
  input {

    box-sizing: border-box;
  }
  button {
    background-color:rgb(30, 87, 87);
    color: white;
    padding: 10px 20px;
    border: none;
  
  }
  button:hover {
    background-color: #a3aca3;
  }

  .foot{
    padding: 20px;
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 400px;
   
  }