.navb{
    /* background-color:rgb(47, 147, 147); */
    background: linear-gradient(to right, rgb(30, 87, 87), #efeded,rgb(30, 87, 87));
    height: 70px;
    align-content: center;
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    text-decoration: none;
   
  
}
.link{
    text-decoration: none;
    color: white;
}